Instal the following libraries in your system to run this code

opencv-python
deepface
pygame
matplotlib
tk

"Or" 
directly install using 
pip install -r requirements.txt


Dont forget to put the jpeg avatar images in a folder named "avatars"


Also keep all everything in the same directory as your emotion_ui_step1.py .
